*.bak 
*.ddk 
*.edk 
*.lst 
*.lnp 
*.mpf 
*.mpj 
*.obj 
*.omf 
*.plg 
*.rpt 
*.tmp 
*.__i 
*.crf 
*.o 
*.d 
*.axf 
*.tra 
*.dep          
*.scvd
*.dbgconf
*.i
*._ia
*.Scr 

*.iex 
*.htm 
*.sct 
*.map 
*.uvopt 
*.ls1


JLinkLog.txt
JLinkSettings.ini
debug.ini
*.uvguix.123
*.uvoptx

git_python_tools.py
git_python_tools.py
